{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    <div class="auth-container">
        <div class="auth-with-fields">
            <h2 class="auth-primary">Login</h2>
            <p class="auth-secondary">
                {% blocktrans %}If you have not created an account yet, then please
                <a class="auth-link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>
            {% url 'account_login' as login_url %}

            <form method="post" action="{{ login_url }}" class="entrance login">
                {% csrf_token %}

                {% element fields form=form unlabeled=True %}
                {% endelement %}
                
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                
                <button type="submit" class="auth-button login-button">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
{% endblock content %}
