{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block content %}
    <div class="auth-container">
        <div class="auth-with-fields">
            <h2 class="auth-primary logout-message">Log out of Scene Automation</h2>
            <div class="ship-leaving">
                <i class="fa-solid fa-sailboat"></i>
                <div class="water">
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                </div>
            </div>
            <!-- <p class="auth-secondary">Are you Sure ?</p> -->

            {% url 'account_logout' as action_url %}

            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="auth-link2 return-home" href="{% url 'ships_and_areas' %}">Return Home</a>
                <button type="submit" class="auth-button login-button">
                    <span class="button-text">Logout</span>
                    <span class="arrows">
                        <span class="popup-text">Logout</span>
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
