{% extends "base.html" %}
{% load allauth i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    <div class="auth-container">
        <div class="auth-with-fields">
            <h2 class="auth-primary">Register</h2>
            <p>
                {% blocktrans %}Already have an account? Then please 
                <a class="auth-link" href="{{ login_url }}">Login</a>.{% endblocktrans %}
            </p>

             <form method="post" action="{{ action_url }}" class="entrance login">
                {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}" />
                        {% endif %}
                    {% endslot %}
                    {% slot actions %}
                    <button type="submit" class="auth-button login-button">{% trans "Sign Up" %}</button>
                    {% endslot %}
                {% endelement %}
            </form>
        </div>
    </div>

    {% url 'account_signup' as action_url %}

   

    
{% endblock content %}
