{% extends "base.html" %}
{% load static %}
{% block title %} Ship Areas & Details {% endblock %}
{% csrf_token %}

{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/data_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class="text-center title">Ships</h2>
        {% for ship in ships %}
            <div class="col-2 content-container">
                <div class="child">
                    <p>{{ ship.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <h2 class="text-center title">Areas</h2>
        {% for ship in ships %}
        {% for area in ship.area_set.all|dictsort:"area_name" %}
            <div class="col-2 text-center">
                <div class="child {% if area.is_completed %}all-completed{% else %}not-completed{% endif %}">
                    <p>{{ area.area_name }}</p>
                </div>
            </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}