{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Ship Areas & Details 
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">
{% endblock %}

{% csrf_token %}

{% block content %}
<!-- Key -->
<div class="keys">
    <div class="key-container">
        <div class="key status-box today"></div>
        <h6 class="key-title">Today</h6>
    </div>
    <div class="key-container">
        <div class="key status-box red"></div>
        <h6 class="key-title">Red Scanner</h6>
    </div>
    <div class="key-container">
        <div class="key status-box blue"></div>
        <h6 class="key-title">Blue Scanner</h6>
    </div>
    <div class="key-container">
        <div class="key status-box both"></div>
        <h6 class="key-title">Both Scanners</h6>
    </div>
</div>

<div class="year">
    {% for month, month_calendar in year_calendar.items %}
        <div class="month">
            <h2>{{ month }}</h2>
            <div class="week">
                <div class="day">
                    <p class="weekday">M</p>
                </div>
                <div class="day">
                    <p class="weekday">T</p>
                </div>
                <div class="day">
                    <p class="weekday">W</p>
                </div>
                <div class="day">
                    <p class="weekday">T</p>
                </div>
                <div class="day">
                    <p class="weekday">F</p>
                </div>
                <div class="day">
                    <p class="weekday">S</p>
                </div>
                <div class="day">
                    <p class="weekday">S</p>
                </div>
            </div>
            {% for week in month_calendar %}
                <div class="week {% if month_calendar|length == 5 and forloop.first %}padding-top-week{% elif month_calendar|length == 5 and forloop.last %}padding-bottom-week{% endif %}">
                    {% for day in week %}
                        <div class="day {% if day.1 %}{{ day.1 }}{% endif %}">
                            <p>
                                {% if day.0 %}
                                    {{ day.0 }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <h2 class="booking-title">Add Booking</h2>
    <form class="booking-form" method="post">
        {% csrf_token %}
        <label for="start_date_{{ booking.id }}">From:</label>
        <input type="date" name="start_date" value="{{ booking_form.start_date }}">
        <label for="end_date_{{ booking.id }}">To:</label>
        <input type="date" name="end_date" value="{{ booking_form.end_date }}">
        <label for="scanner_{{ booking.id }}">Scanner:</label>
        {{ booking_form.scanner }}
        {% if user.is_superuser %}
            <div class="users-column overflow-box">
                {% for user in users %}
                    <div class="users-row">
                        <input type="checkbox" name="users" value="{{ user.id }}" {% if user in booking.users.all %}checked{% endif %}>
                        <label for="{{ user.id }}">{{ user.username }}</label><br>
                    </div>    
                {% endfor %}
            </div>
        {% endif %}
        <button class="submit-button" type="submit">Add</button>
    </form>
{% endif %}

{% for booking in bookings %}
    {% if user in booking.users.all or user.is_superuser %}
        <form method="post" action="{% url 'edit_booking' booking.id %}">
            {% csrf_token %}
            <div class="modify-booking">
                <label for="start_date_{{ booking.id }}">From:</label>
                <input id="start_date_{{ booking.id }}" type="date" name="start_date" value="{{ booking.start_date|date:"Y-m-d" }}">
                <label for="end_date_{{ booking.id }}">To:</label>
                <input id="end_date_{{ booking.id }}" type="date" name="end_date" value="{{ booking.end_date|date:"Y-m-d" }}">
                <label for="scanner_{{ booking.id }}">Scanner:</label>
                <select id="scanner_{{ booking.id }}" name="scanner">
                    <option value="red" {% if booking.scanner == 'red' %}selected{% endif %}>Red Scanner</option>
                    <option value="blue" {% if booking.scanner == 'blue' %}selected{% endif %}>Blue Scanner</option>
                    <option value="both" {% if booking.scanner == 'both' %}selected{% endif %}>Both Scanners</option>
                </select>
                <label for="users_{{ booking.id }}">Users:</label>

                {% if user.is_superuser %}
                    <div class="users-column overflow-box">
                        {% for user in users %}
                            <div class="users-row">
                                <input type="checkbox" name="users" value="{{ user.id }}" {% if user in booking.users.all %}checked{% endif %}>
                                <label for="{{ user.id }}">{{ user.username }}</label><br>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="users-column">
                        {% for user in booking.users.all %}
                            <div class="users-row">
                                <input type="checkbox" name="users" value="{{ user.id }}" checked>
                                <label for="{{ user.id }}">{{ user.username }}</label><br>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <button class="submit-button" type="submit">Save</button>
                    <button class="delete-button">
                        <a class="delete-booking" href="{% url 'delete_booking' booking.id %}">Delete</a>
                    </button>
                {% endif %}
            </div>
        </form>
    {% endif %}
{% endfor %}

{% endblock %}
