{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Ship Areas & Details 
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">
{% endblock %}

{% csrf_token %}

{% block content %}

{% for month, month_calendar in year_calendar.items %}
    <h2>{{ month }}</h2>
    <table>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
        {% for week in month_calendar %}
            <tr>
                {% for day in week %}
                    <td class="{% if day.1 %}{{ day.1 }}{% endif %}">
                        {% if day.0 %}
                            {{ day.0 }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}

{% endblock %}
