{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Ship Areas & Details 
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">
{% endblock %}

{% csrf_token %}


{% block content %}
    <div class="year">
        {% for month_value, month_name in months %}
            <div class="month">
                <div class="title-block">
                    <h2 class="title">{{ month_name }}</h2>
                    <div class="week day-headers">
                        <div class="day">
                            M
                        </div>
                        <div class="day">
                            T
                        </div>
                        <div class="day">
                            W
                        </div>
                        <div class="day">
                            T
                        </div>
                        <div class="day">
                            F
                        </div>
                        <div class="day">
                            S
                        </div>
                        <div class="day">
                            S
                        </div>
                    </div>
                </div>
                {% for week in month_value %}
                    <div class="week">
                        {% for day in week %}
                            <div class="day">
                                {% if day != 0 %}
                                    {{ day }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
