{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Processing Calculator
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block headlines %}
    <div class="headline-section">
        <h4 class="headline-title">Current Workload:</h4>
        <h2 class="headline-content"><span id="total-time">{{ statistics.total_time }}</span> Days</h2>
    </div>

    <div class="headline-section">
        <h4 class="headline-title">Raw Size per Scan</h4>
        <h2 class="headline-content"><span id="averageRaw">{{ statistics.average_raw_storage_per_ship }}</span> GB</h2>
    </div>

    <div class="headline-section">
        <h4 class="headline-title">Processed Size per Scan</h4>
        <h2 class="headline-content"><span id="averageProcessed">{{ statistics.average_processed_storage_per_ship }}</span> GB</h2>
    </div>
    
    <div class="headline-section">
        <h4 class="headline-title">Exported Size per Scan</h4>
        <h2 class="headline-content"><span id="averageExported">{{ statistics.average_exported_storage_per_ship }}</span> GB</h2>
    </div>

{% endblock %}

{% block content %}
    <div class="calculator-container">
        <h3 class="calculator-label center">Number of Scans</h3>
        <i class="arrow fa-solid fa-arrow-right"></i>
        <input id="calculator-input" type="number">
        <i class="arrow fa-solid fa-arrow-right"></i>
        <button id="calculate-button">Calculate</button>
    </div>

    <p class="calculator-text center">
        <em>Please note: This is to be used as a guide. Real world values will differ based on many other factors.</em>
    </p>

    <div id="dashboard-container"></div>

    <script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}
