{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Processing Calculator
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/calculator.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <h2 class="center">Please enter the number of scans you below</h2>
        <p class="center">
            <em>Please note: This is to be used as a guide. Real world values will differ based on many other factors.</em>
        </p>

        <div class="calculator-container">
            <input id="calculator-input" type="number">
            <button id="calculate-button">Calculate</button>
        </div>

        <div class="result-container">
            <div id="result"></div>
            <div id="date"></div>
        </div>
        
        <p class="center">
            <em>The dates above assume processing will begin immediately, please factor in the current workload which can be found on the home page</em>
        </p>
    </div>

    <script src="{% static 'js/calculator.js' %}"></script>

{% endblock %}
