{% extends "base.html" %}
{% block title %} Ship Areas & Details {% endblock %}

{% block content %}

    <a href="admin">View Admin</a>

    {% for ship in ships %}
        <h2>{{ ship.name }}</h2>
        
        {% for area in ship.area_set.all %}
            <p>{{ area.area_name }}</p>
            <span>{{ area.imported }}</span>
            <span>{{ area.processed }}</span>
            <span>{{ area.registered }}</span>
            <span>{{ area.aligned }}</span>
            <span>{{ area.cleaned }}</span>
            <span>{{ area.point_cloud }}</span>
            <span>{{ area.exported }}</span>
            <span>{{ area.uploaded }}</span>
        {% endfor %}

    {% endfor %}
{% endblock %}

</body>
</html>