{% extends "base.html" %}
{% block title %} Ship Areas & Details {% endblock %}

{% block content %}
<div class="container">
    <!-- Testing -->
    <div class="container">
        {% for ship in ships %}
            <button class="btn expand-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                <div class="row">
                    <div class="col-6 text-start">
                        <h3>{{ ship.name }}</h3>
                    </div>
                    <div class="col-6 text-end">
                        <h3>Contract Number: {{ ship.contract_number }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-start">
                        <h4>Areas: {{ ship.area_set.all.count }}</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h4>Scan Total: 0</h4>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </button>

            <div class="collapse" id="collapse{{ forloop.counter }}">
                <div class="card card-body card-expand">
                    {% for area in ship.area_set.all %}
                        <div class="row">
                            <div class="col-4"><p class="area-title">{{ area.area_name }}</p></div>
                            <div class="col-1 process-status"><span>{{ area.imported }}</span></div>
                            <div class="col-1 process-status"><span>{{ area.processed }}</span></div>
                            <div class="col-1 process-status"><span>{{ area.registered }}</span></div>
                            <div class="col-1 process-status"><span>{{ area.aligned }}</span></div>
                            <div class="col-1 process-status"><span>{{ area.cleaned }}</span></div>
                            <div class="col-1 process-status"><span>{{ area.point_cloud }}</span></div>
                            <div class="col-1 process-status"><span>{{ area.exported }}</span></div>
                            <div class="col-1 process-status"><span>{{ area.uploaded }}</span></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {% if user.is_authenticated %}
            <button class="btn expand-button form-button" type="button" data-bs-toggle="collapse" data-bs-target="#shipFormCollapse" aria-expanded="false" aria-controls="shipFormCollapse">
                <div class="row">
                    <div class="col-6 text-start">
                        <h3>Add a New Ship</h3>
                    </div>
                </div>
            </button>
            
            <div class="collapse" id="shipFormCollapse">
                <div class="container add-ship">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ ship_form.name.id_for_label }}" class="form-label">Name:</label>
                            {{ ship_form.name }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ ship_form.contract_number.id_for_label }}" class="form-label">Contract Number:</label>
                            {{ ship_form.contract_number }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ ship_form.company.id_for_label }}" class="form-label">Company:</label>
                            {{ ship_form.company }}
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        {% if messages %}
            <div class="toast-container">
                {% for message in messages %}
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
                        <div class="toast-header">
                            <strong class="mr-auto text-success">{{ message }}</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {% for ship in ships %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
                            <div class="row title-row">
                                <div class="col">
                                    <h3 class="ship-title"></h3>
                                    <h4 class="ship-subtitle">
                                        <span>Areas: {{ ship.area_set.all.count }}</span>
                                    </h4>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% for area in ship.area_set.all %}
                                <div class="row">
                                    <div class="col-4">
                                        <p>{{ area.area_name }}</p>
                                    </div>
                                    <div class="col-1"><button>{{ area.imported }}</button></div>
                                    <div class="col-1"><button>{{ area.processed }}</button></div>
                                    <div class="col-1"><button>{{ area.registered }}</button></div>
                                    <div class="col-1"><button>{{ area.aligned }}</button></div>
                                    <div class="col-1"><button>{{ area.cleaned }}</button></div>
                                    <div class="col-1"><button>{{ area.point_cloud }}</button></div>
                                    <div class="col-1"><button>{{ area.exported }}</button></div>
                                    <div class="col-1"><button>{{ area.uploaded }}</button></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    // Initialize Bootstrap toasts
    $('.toast').toast('show');
</script>

{% endblock %}