{% extends "base.html" %}
{% block title %} Ship Areas & Details {% endblock %}

{% load custom_filters %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="time-remaining">{{ total_estimated_completion_for_all_ships }} Days Remaining</h2> 
    </div>
    <hr>
    <div class="row">
        <div class="col-3 summary-heading">Total Scans</div>
        <div class="col-3 summary-heading">Total Ships</div>
        <div class="col-3 summary-heading">Average Scans</div>
        <div class="col-3 summary-heading">Average Completion Time</div>
    </div>
    <div class="row">
        <div class="col-3 summary-values">{{ total_scans }}</div>
        <div class="col-3 summary-values">{{ num_ships }}</div>
        <div class="col-3 summary-values">{{ avg_scans_per_ship }}</div>
        <div class="col-3 summary-values">{{ avg_completion_time }} Days</div>
    </div>

    <!-- Ship button card drop down -->
    {% for ship in ships|sort_with_zero_first:"contract_number" %}
        <button class="btn expand-button no-hover-background" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
            <!-- Primary Row -->
            <div class="row">
                <div class="col-6 text-start">
                    <h3>{{ ship.name }}</h3>
                </div>
                <div class="col-6 text-end">
                    <h3>Contract Number: {{ ship.contract_number }}</h3>
                </div>
            </div>
            <!-- Secondary Row -->
            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-4 text-start">
                        <h4>Areas: {{ ship.area_set.all.count }}</h4>
                    </div>
                    <!-- Hidden Completion time -->
                    <div class="col-4 text-center">
                        <h4>Estimated Completion: {{ ship.estimated_completion }} Days</h4>
                    </div>
                    <div class="col-4 text-end">
                        <h4>Scan Total: {{ ship.total_scans }}</h4>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-6 text-start">
                        <h4>Areas: {{ ship.area_set.all.count }}</h4>
                    </div>
                    <div class="col-6 text-end">
                        <h4>Scan Total: {{ ship.total_scans }}</h4>
                    </div>
                </div>
            {% endif %}
            <!-- Percentage Bar -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ ship.completed_percentage }}%;" aria-valuenow="{{ ship.completed_percentage }}" aria-valuemin="0" aria-valuemax="100">{{ ship.completed_percentage }}%</div>
            </div>
        </button>

        <!-- Area Content  -->
        <div class="collapse" id="collapse{{ forloop.counter }}">
            <div class="card card-body card-expand">
                <!-- Table Headings -->
                <div class="container">
                    <div class="row">
                        <div class="col-3"><h5 class="process-heading text-center">Area</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center"># Scans</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Imported</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Processed</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Registered</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Aligned</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Cleaned</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Point Cloud</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Exported</h5></div>
                        <div class="col-1 process-status"><h5 class="process-heading text-center">Uploaded</h5></div>
                    </div>
                </div>
                <!-- Table Content -->
                {% if user.is_authenticated %}
                    {% for area in ship.area_set.all|dictsort:"area_name" %}
                        <div class="container">
                            <form method="post" action="{% url 'edit_area' area.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="ship" value="{{ ship.id }}">
                                <div class="row">
                                    <div class="col-6 col-md-2 area-form">
                                        <input type="text" name="area_name" value="{{ area.area_name }}">
                                    </div>
                                    <div class="col-4 col-md-1 crud">
                                        <form method="post" action="{% url 'delete_area' area.id %}">
                                            {% csrf_token %}
                                            <button class="crud-button delete" type="submit" onclick="return confirm('Are you sure you want to delete this area?')">Delete</button>
                                        </form>
                                        <button class="crud-button save" type="submit">Save</button>
                                    </div>
                                    <div class="col-2 col-md-1 area-form">
                                        <input type="number" name="scans" value="{{ area.scans }}">
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="imported" class="{{ area.imported }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.imported == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="processed" class="{{ area.processed }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.processed == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="registered" class="{{ area.registered }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.registered == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="aligned" class="{{ area.aligned }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.aligned == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="cleaned" class="{{ area.cleaned }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.cleaned == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="point_cloud" class="{{ area.point_cloud }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.point_cloud == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="exported" class="{{ area.exported }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.exported == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3 col-md-1 area-form">
                                        <select name="uploaded" class="{{ area.uploaded }}">
                                            {% for status, label in area.STATUS_CHOICES %}
                                                <option value="{{ status }}" {% if area.uploaded == status %}selected{% endif %}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                    <!-- Add new area -->
                    <div class="container">
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="ship" value="{{ ship.id }}">
                            <!-- Table Title -->
                            <div class="row">
                                <div class="col-2"><h5 class="process-heading text-center">Area</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center"># Scans</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Imported</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Processed</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Registered</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Aligned</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Cleaned</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Point Cloud</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Exported</h5></div>
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Uploaded</h5></div>            
                                <div class="col-1 process-status"><h5 class="process-heading text-center">Submit</h5></div>            
                            </div>
                            <!-- Table Data -->
                            <div class="row">
                                <div class="col-10 col-md-2 area-form">{{ area_form.area_name }}</div>
                                <div class="col-2 col-md-1 area-form">{{ area_form.scans }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.imported }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.processed }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.registered }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.aligned }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.cleaned }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.point_cloud }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.exported }}</div>
                                <div class="col-3 col-md-1 area-form">{{ area_form.uploaded }}</div>
                                <div class="col-3 col-md-1 area-form"><button type="submit" class="btn btn-primary">Add Area</button></div>
                            </div>                
                        </form>
                    </div>
                <!-- Non authenticated data -->
                {% else %}
                    {% for area in ship.area_set.all|dictsort:"area_name" %}
                        <div class="container">
                            <div class="row">
                                <div class="col-3"><p class="area-title">{{ area.area_name }}</p></div>
                                <div class="col-1 process-status text-center"><p class="area-title">{{ area.scans }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.imported }}">{{ area.imported }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.processed }}">{{ area.processed }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.registered }}">{{ area.registered }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.aligned }}">{{ area.aligned }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.cleaned }}">{{ area.cleaned }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.point_cloud }}">{{ area.point_cloud }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.exported }}">{{ area.exported }}</p></div>
                                <div class="col-1 process-status text-center"><p class="status-box {{ area.uploaded }}">{{ area.uploaded }}</p></div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <button class="btn expand-button form-button" type="button" data-bs-toggle="collapse" data-bs-target="#shipFormCollapse" aria-expanded="false" aria-controls="shipFormCollapse">
            <div class="row">
                <div class="col-6 text-start">
                    <h3>Add a New Ship</h3>
                </div>
            </div>
        </button>
        
        <div class="collapse" id="shipFormCollapse">
            <div class="container add-ship">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ ship_form.name.id_for_label }}" class="form-label">Name:</label>
                        {{ ship_form.name }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ ship_form.contract_number.id_for_label }}" class="form-label">Contract Number:</label>
                        {{ ship_form.contract_number }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ ship_form.company.id_for_label }}" class="form-label">Company:</label>
                        {{ ship_form.company }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
                    <div class="toast-header">
                        <strong class="mr-auto text-success">{{ message }}</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        {% for ship in ships %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}">
                        <div class="row title-row">
                            <div class="col">
                                <h3 class="ship-title"></h3>
                                <h4 class="ship-subtitle">
                                    <span>Areas: {{ ship.area_set.all.count }}</span>
                                </h4>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for area in ship.area_set.all %}
                            <div class="row">
                                <div class="col-4">
                                    <p>{{ area.area_name }}</p>
                                </div>
                                <div class="col-1"><button>{{ area.imported }}</button></div>
                                <div class="col-1"><button>{{ area.processed }}</button></div>
                                <div class="col-1"><button>{{ area.registered }}</button></div>
                                <div class="col-1"><button>{{ area.aligned }}</button></div>
                                <div class="col-1"><button>{{ area.cleaned }}</button></div>
                                <div class="col-1"><button>{{ area.point_cloud }}</button></div>
                                <div class="col-1"><button>{{ area.exported }}</button></div>
                                <div class="col-1"><button>{{ area.uploaded }}</button></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    // Get a reference to the dropdown element
    var dropdown = document.getElementById("importedDropdown");

    // Function to update the background color
    function updateBackgroundColor() {
        var selectedValue = dropdown.value;
        var statusClass = 'status-' + selectedValue.replace(/\s/g, '-'); // Convert spaces to hyphens
        dropdown.className = statusClass;
    }

    // Add an event listener to handle changes in the dropdown
    dropdown.addEventListener("change", updateBackgroundColor);

    // Initialize the background color when the page loads
    updateBackgroundColor();

    // Initialize Bootstrap toasts
    $('.toast').toast('show');
</script>

{% endblock %}