{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Ship Areas & Details 
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/issues.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        {% if user.is_superuser %}
            <div class="new-issue-container">
                <div class="add-issue">
                    <h2 class="titles">Add New Issue</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ issue_form.issue.label_tag }} {{ issue_form.issue }}
                        <div class="form-row">
                            {{ issue_form.category.label_tag }} {{ issue_form.category }}
                            <button class="submit-button" type="submit" name="issue_submit">Add Issue</button>
                        </div>
                    </form>
                </div>

                <div class="add-category">
                    <h2 class="titles">Add Category</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ category_form.as_p }}
                        <button class="submit-button" type="submit" name="category_submit">Add Category</button>
                    </form>
                </div>
            </div>
        {% endif %}

        <h2 class="titles">Issues ({{ issue_count }})</h2>
        <div class="issue-list">
            {% for issue in issues %}
                <div class="issue-container">
                    <div class="issue-date">{{ issue.date|date:"M jS" }}:</div>

                    {% if issue.category.name == "Crash Report" %}
                        <div class="crash-report">CR</div>
                    {% elif issue.category.name == "Unexplained Failure" %}
                        <div class="unexplained-failure">UF</div>
                    {% elif issue.category.name == "Registration Failure" %}
                        <div class="registration-failure">RF</div>
                    {% else %}
                        <div class="issue-category">{{ issue.category.name }}</div>
                    {% endif %}

                    <div class="issue-description">{{ issue.issue }}</div>
                    {% if user.is_superuser %}
                        <div class="issue-actions">
                            <a class="edit-button" href="javascript:void(0);" onclick="toggleEditForm({{ issue.id }})">Edit</a>
                            <a class="delete-button" href="{% url 'delete_issue' issue.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <div class="edit-form" id="edit-form-{{ issue.id }}" style="display: none;">
                    <form method="post" action="{% url 'edit_issue' issue.id %}">
                        {% csrf_token %}
                        <textarea class="edit-issue" name="issue">{{ issue.issue }}</textarea>
                        <select name="category">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if issue.category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="save-button" type="submit">Save</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
<script>
function toggleEditForm(issueId) {
    var editForm = document.getElementById('edit-form-' + issueId);
    if (editForm.style.display === 'none') {
        editForm.style.display = 'block';
    } else {
        editForm.style.display = 'none';
    }
}
</script>
{% endblock %}