{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/logs.css' %}">
{% endblock %}

{% block content %} 
    
<div class="container">
    <h2>User Logins</h2>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>TimeStamp</th>
            </tr>
        </thead>
        <tbody>
            {% for login in logins %}
                <tr>
                    <td>{{ login.user }}</td>
                    <td>{{ login.timestamp }}</td>
                </tr>
            {% endfor %}
    </table>
</div>

{% endblock %}