{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/logs.css' %}">
{% endblock %}

{% block content %} 
    
<div class="container">
    <h2 class="user-logins">User Logins</h2>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Days</th>
            </tr>
        </thead>
        <tbody>
            {% for login in logins %}
                {% if login.user != 'admin' %}
                    <tr>
                        <td class="{% if login.user.first_name == "William" %}special{% endif %}">{{ login.user.first_name }}</td>
                        <td class="{% if login.user.first_name == "William" %}special{% endif %}">{{ login.user.last_name }}</td>
                        <td class="{% if login.user.first_name == "William" %}special{% endif %}">{{ login.timestamp|date:"d/m/Y - H:i" }}</td>
                        <td class="{% if login.user.first_name == "William" %}special{% endif %}">{{ login.time_remaining }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
</div>

{% endblock %}