{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Ship Areas & Details 
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/planning.css' %}">
{% endblock %}

{% csrf_token %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Area Planning Matrix</h2>

        <div class="dash-container">
            <div class="dash">
                <h3 class="small-title">Running Total</h3>
                <p id="running-total"></p>
            </div>

            <div class="dash">
                <h3 class="small-title">Similar Ships</h3>
                <select id="ship-select" onchange="updateMissingAreas()">
                    <option value="">-- Select a Ship --</option>
                    {% for ship in ships %}
                        <option value="{{ ship.name }}">{{ ship.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="dash" id="missing-areas">
                <h3 class="small-title">Missing Areas</h3>
            </div>
        </div>


        <div class="table" id="area-planning-table">
            <div class="table-row table-header">
                <div class="table-cell">Area</div>
                <div class="table-cell">Occurrences</div>
                <div class="table-cell">Average Scans</div>
                <div class="table-cell">Min</div>
                <div class="table-cell">Max</div>
            </div>
            {% for area in cleaned_areas %}
                <div class="table-row">
                    <div class="table-cell area">
                        <p class="main-area-value">{{ area.area_name }}</p>
                    </div>
                    <div class="table-cell occurrences">
                        {{ area.occurrences }}
                    </div>
                    <div class="table-cell avg-scans">
                        {{ area.avg_scans }}
                    </div>
                    <div class="table-cell min-scans">
                        {{ area.min_scans }}
                    </div>
                    <div class="table-cell max-scans">
                        {{ area.max_scans }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="hidden-data">
            <p>Total number of areas: {{ areas|length }}</p>
            <table id="hidden-areas-table">
                <tr>
                    <th>Ship</th>
                    <th>Area</th>
                </tr>
                {% for area in areas %}
                    <tr class="area-row">
                        <td>{{ area.ship }}</td>
                        <td>{{ area.area_name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <script src="{% static 'js/planning.js' %}"></script>
    {% endif %}
{% endblock %}