{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/priority.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
{% endblock %}

{% block content %} 

<div class="container">
    <button id="pdfButton">Generate PDF</button>
    <table id="priority-table">
        <thead>
            <tr>
                <th>P</th>
                <th>Ship</th>
                <th>Area Name</th>
                <th># Scans</th>
                <th>Ship Priority</th>
                <th>Area Priority</th>
                <th>Time (Days)</th>
                <th>Completion</th>
            </tr>
        </thead>
        <tbody>
            {% for area in areas %}
                <tr class={% if area.registered == "Minor" %}Minor{% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td class="td-start">
                        <a class="ship-link" href="{% url 'ship_detail' area.ship.id %}">{{ area.ship.name }}</a>
                    </td>
                    <td class="td-start">{{ area.area_name }}</td>
                    <td>{{ area.scans }}</td>
                    <td>{{ area.ship.priority }}</td>
                    <td>{{ area.priority }}</td>
                    <td>{{ area.time_remaining }}</td>
                    <td>
                        <div class="complete-container">
                            <div class="{{ area.processed|status_to_class }}"></div>
                            <div class="{{ area.registered|status_to_class }}"></div>
                            <div class="{{ area.cleaned|status_to_class }}"></div>
                            <div class="{{ area.point_cloud|status_to_class }}"></div>
                            <div class="{{ area.exported|status_to_class }}"></div>
                            <div class="{{ area.uploaded|status_to_class }}"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>
    window.onload = function() {
        document.getElementById("pdfButton").addEventListener("click", function() {
            var element = document.getElementById('priority-table');
    
            html2canvas(element, {
                onrendered: function(canvas) {
                    var imgData = canvas.toDataURL('image/png');
                    var doc = new jsPDF('p', 'mm', 'a4');
                    var width = doc.internal.pageSize.getWidth();
                    var height = doc.internal.pageSize.getHeight();
                    height = height * 1.5;
                    doc.addImage(imgData, 'PNG', 0, 0, width, height);
                    doc.save('table.pdf');
                }
            });
        });
    }
</script>

{% endblock %}
