{% extends "base.html" %}

{% block content %}
    <!-- Summaries -->
    <div class="headlines">
        <div class="summary-boxes">
            <h4 class="summary-title">Ship:</h4>
            <h2 class="summary-content">{{ ship.name }}</h2>
        </div>

        <div class="summary-boxes">
            <h4 class="summary-title">Completion Percentage</h4>
            <h2 class="summary-content">{{ ship.completed_percentage }}%</h2>
        </div>
        
        <div class="summary-boxes">
            <h4 class="summary-title">Areas</h4>
            <h2 class="summary-content">{{ areas.count }}</h2>
        </div>
        
        <div class="summary-boxes">
            <h4 class="summary-title">Scans</h4>
            <h2 class="summary-content">{{ ship.total_scans }}</h2>
        </div>
    </div>

    <!-- Key -->
    <div class="keys">
        <div class="key-container">
            <h6 class="key-title">Completed</h6>
            <div class="key status-box Completed"></div>
        </div>
        <div class="key-container">
            <h6 class="key-title">Queued</h6>
            <div class="key status-box Queued"></div>
        </div>
        <div class="key-container">
            <h6 class="key-title">On Hold</h6>
            <div class="key status-box Hold"></div>
        </div>
        <div class="key-container">
            <h6 class="key-title">Minor Fail</h6>
            <div class="key status-box Minor"></div>
        </div>
        <div class="key-container">
            <h6 class="key-title">Major Fail</h6>
            <div class="key status-box Major"></div>
        </div>
        <div class="key-container">
            <h6 class="key-title">Critical Fail</h6>
            <div class="key status-box Critical"></div>
        </div>
        <div class="key-container">
            <h6 class="key-title">WIP</h6>
            <div class="key status-box WIP"></div>
        </div>
        <div class="key-container">
            <h6 class="key-title">Not Required</h6>
            <div class="key status-box Not"></div>
        </div>
    </div>

    <!-- Ship Details -->
    <div class="area-container">
        <div class="area-card area-card-titles">
            <div class="process-title">
                <a class="area-title status-title">Area Name</a>
            </div>
            <div class="number-of-scans">
                <p class="number-value">Scans</p>
            </div>
            <div class="process-status">
                <p class="status-box status-title">Process</p>
            </div>
            <div class="process-status">
                <p class="status-box status-title">Register</p>
            </div>
            <div class="process-status">
                <p class="status-box status-title">Cleaned</p>
            </div>
            <div class="process-status">
                <p class="status-box status-title">Point Cloud</p>
            </div>
            <div class="process-status">
                <p class="status-box status-title">Export</p>
            </div>
            <div class="process-status">
                <p class="status-box status-title">Upload</p>
            </div>
        </div>

        {% for area in areas %}
            <div class="area-card">
                <div class="process-title">
                    <a href="#{{ area.area_name }}" class="area-title" onclick="scrollToSection(event, '{{ area.area_name }}')">{{ area.area_name }}</a>
                </div>
                <div class="number-of-scans">
                    <p class="number-value">{{ area.scans }}</p>
                </div>
                <div class="process-status">
                    <p class="status-box {{ area.processed }}"></p>
                </div>
                <div class="process-status">
                    <p class="status-box {{ area.registered }}"></p>
                </div>
                <div class="process-status">
                    <p class="status-box {{ area.cleaned }}"></p>
                </div>
                <div class="process-status">
                    <p class="status-box {{ area.point_cloud }}"></p>
                </div>
                <div class="process-status">
                    <p class="status-box {{ area.exported }}"></p>
                </div>
                <div class="process-status">
                    <p class="status-box {{ area.uploaded }}"></p>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- Modify Ship Values -->
    {% if user.is_superuser %}
        <div class="area-details">
            {% for area in areas %}
            <div id="{{ area.area_name }}" class="area-detail-card">
                <form class="area-form" method="post" action="{% url 'edit_area' area.id %}">
                    {% csrf_token %}
                    <!-- Ship Name -->
                    <input type="hidden" name="ship" value="{{ ship.id }}">

                    <!-- Area Name -->
                    <div class="area-form inline">
                        <div class="status-symbol {% if area.is_completed %}all-completed{% else %}not-completed{% endif %}"></div>
                        <input class="area-margin" type="text" name="area_name" value="{{ area.area_name }}">
                    </div>

                    <!-- Processing Machine -->
                    <div class="area-form">
                        <p class="data-label">Time: {{ area.time_remaining }}</p>
                    </div>

                    <!-- Area Priority -->
                    <div class="area-form">
                        <select class="text-center" name="priority">
                            {% for choice_value, choice_label in area.PRIORITY_CHOICES %}
                                <option value="{{ choice_value }}" {% if choice_value == area.priority %}selected{% endif %}>
                                    {{ choice_label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Number of Scans -->
                    <div class="area-form">
                        <input class="above-process-description" type="number" name="scans" value="{{ area.scans }}">
                    </div>
                    <div class="area-form">
                        <p class="process-description">Process : Register : Clean : Point : Export : Upload</p>
                    </div>
                    <div class="area-form">
                        <select name="processed" class="{{ area.processed }}">
                            {% for status, label in area.STATUS_CHOICES %}
                                <option value="{{ status }}" {% if area.processed == status %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="area-form">
                        <select name="registered" class="{{ area.registered }}">
                            {% for status, label in area.STATUS_CHOICES %}
                                <option value="{{ status }}" {% if area.registered == status %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="area-form">
                        <select name="cleaned" class="{{ area.cleaned }}">
                            {% for status, label in area.STATUS_CHOICES %}
                                <option value="{{ status }}" {% if area.cleaned == status %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="area-form">
                        <select name="point_cloud" class="{{ area.point_cloud }}">
                            {% for status, label in area.STATUS_CHOICES %}
                                <option value="{{ status }}" {% if area.point_cloud == status %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="area-form">
                        <select name="exported" class="{{ area.exported }}">
                            {% for status, label in area.STATUS_CHOICES %}
                                <option value="{{ status }}" {% if area.exported == status %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="area-form">
                        <select name="uploaded" class="{{ area.uploaded }}">
                            {% for status, label in area.STATUS_CHOICES %}
                                <option value="{{ status }}" {% if area.uploaded == status %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <!-- Label -->
                    <div class="ship-detail-row">
                        <!-- Point Cloud Total -->
                        <div class="area-form">
                            <p class="data-label">Point Cloud:</p>
                        </div>
                        <div class="area-form">
                            <input class="text-center" type="number" name="point_cloud_size" value="{{ area.point_cloud_size }}">
                        </div>
                    </div>

                    <div class="area-form">
                        <p class="data-label">Folder Sizes (GB):</p>
                    </div>

                    <div class="ship-detail-row">
                        <!-- Raw File Size -->
                        <div class="area-form">
                            <input class="text-center" type="text" name="raw_size" value="{{ area.raw_size }}">
                        </div>
                        <!-- Processed File Fize -->
                        <div class="area-form">
                            <input class="text-center" type="text" name="processed_size" value="{{ area.processed_size }}">
                        </div>
                        <!-- Exported File Size -->
                        <div class="area-form">
                            <input class="text-center" type="text" name="exported_size" value="{{ area.exported_size }}">
                        </div>
                    </div>
                
                    <!-- Delete and Save -->
                    <div class="ship-detail-row">
                        <div class="crud-button-container">
                            <button class="crud-button delete">
                                <a href="{% url 'delete_area' area.id %}">Delete</a>
                            </button>
                        </div>
                        <div class="crud-button-container">
                            <button class="crud-button save" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>  
            {% endfor %}

            <!-- Add new area form -->
            <div class="area-detail-card" id="add-area">
                <form class="area-form" method="post">
                    {% csrf_token %}
                    <!-- Ship Name -->
                    <input type="hidden" name="ship" value="{{ ship.id }}">

                    <!-- Area Name -->
                    <div class="area-form inline">{{ area_form.area_name }}</div>

                    <!-- Processing Machine -->
                    <div class="area-form"><p class="data-label">Time: 0</p></div>

                    <!-- Area Priority -->
                    <div class="area-form">{{ area_form.priority }}</div>
                    <!-- Number of Scans -->
                    <div class="area-form">{{ area_form.scans }}</div>
                    <div class="area-form">
                        <p class="process-description">Process : Register : Clean : Point : Export : Upload</p>
                    </div>
                    <div class="area-form">{{ area_form.processed }}</div>
                    <div class="area-form">{{ area_form.registered }}</div>
                    <div class="area-form">{{ area_form.cleaned }}</div>
                    <div class="area-form">{{ area_form.point_cloud }}</div>
                    <div class="area-form">{{ area_form.exported }}</div>
                    <div class="area-form">{{ area_form.uploaded }}</div>
                
                    <!-- Label -->
                    <div class="ship-detail-row">
                        <!-- Point Cloud Total -->
                        <div class="area-form">
                            <p class="data-label">Point Cloud:</p>
                        </div>
                        <div class="area-form">{{ area_form.point_cloud_size }}</div>
                    </div>

                    <div class="area-form">
                        <p class="data-label">Folder Sizes (GB):</p>
                    </div>

                    <div class="ship-detail-row">
                        <!-- Raw File Size -->
                        <div class="area-form">{{ area_form.raw_size }}</div>
                        <!-- Processed File Fize -->
                        <div class="area-form">{{ area_form.processed_size }}</div>
                        <!-- Exported File Size -->
                        <div class="area-form">{{ area_form.exported_size }}</div>
                    </div>
                    <!-- Submit -->
                    <div>
                        <button class="crud-button add" type="submit">Add Area</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <script>
        function scrollToSection(event, areaName) {
            event.preventDefault();
            var section = document.getElementById(areaName);
            var position = section.getBoundingClientRect().top + window.pageYOffset - 72;
            window.scrollTo({ top: position, behavior: 'smooth' });

            // Add border to navigated section
            section.style.border = "3px solid red";
        }
    </script>

{% endblock %}
