/* Global Variables */
:root {
    --card-background: linear-gradient(315deg, rgb(28, 28, 52), rgb(23, 23, 47));
}

/* Turn Headlines off for this page */
.headlines {
    display: none;
}

.year {
    display: flex;
    padding-top: 20px;
    color: black;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.month {
    display: flex;
    flex-direction: column;
    background: var(--card-background);
    width: 300px;
    border: 1px solid #5e5e5e;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .4);
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: 3px;
    color: #bfbfbf;
}

.day > p {
    margin: 0;
    font-size: 0.8rem;
}

.start {
    border-left: 3px solid rgb(210, 210, 210);
}

.end {
    border-right: 3px solid rgb(210, 210, 210);
}

.weekday {
    font-weight: 700;
    font-size: 0.9rem !important;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #e6e6e6;
    width: 100%;
    margin: 0px;
}

h5 {
    width: calc(100%/7);
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.day-style {
    margin: 0;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.today {
    border: 2px solid white
}

.padding-top-week {
    padding-top: 8px;
}

.padding-bottom-week {
    padding-bottom: 30px;
}

/* Keys */
.keys {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    gap: 12px;
}

.key-container {
    display: flex;
    flex-direction: row;
    width: 155px;
    background: var(--card-background);
    padding: 6px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.year-switcher-container {
    display: flex;
    flex-direction: row;
    background: var(--card-background);
    padding: 6px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.key-title {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    align-items: center;
    padding: 8px;
    margin: 0;
    color: #bbb;
}

.key {
    border-radius: 4px;
    height: 30px;
    width: 30px;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Booking Form --------------------------------- */
/* ------------------------------------------------------------------------------ */
.booking-section-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
}

.booking-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    color: white;
}

.booking-ship {
    margin: 0;
    font-size: 1.2rem;
    height: 27px;
    color: white;
    display: flex;
    align-items: center;
}

/* .dates {
    height: 56px;
} */

.form-div {
    padding: 0;
    height: 56px;
}

.form-div label {
    width: 100%;
    color: #a3a3a3;
}

.form-div select,
.form-div input {
    width: 100%;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    background: #3b4353;
    border: none;
}

.crud-button-container {
    width: 100%;
    display: flex;
    margin-top: 6px;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-button {
    background: linear-gradient(107deg, rgb(68, 172, 30) 11.1%, rgb(95, 166, 94) 95.3%);
    border: 1px solid darkgreen;
    width: 100%;
    padding: 2px 12px;
    border-radius: 8px;
    color: white;
    position: relative;
    top: 2px;
}

.submit-button {
    background: linear-gradient(107deg, rgb(68, 172, 30) 11.1%, rgb(95, 166, 94) 95.3%);
    border: 1px solid darkgreen;
    padding: 2px 12px;
    border-radius: 8px;
    color: white;
    width: calc(50% - 4px);
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(107deg, rgb(234, 58, 58) 11.1%, rgb(187, 31, 31) 95.3%);
    border: 1px solid darkred;
    border-radius: 8px;
    margin-right: 8px;
    width: calc(50% - 4px);
    text-decoration: none;
    color: white;
}

.delete-button > a {
    margin: 0;
}

.modify-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 4px 0;
}

.users-column {
    display: flex;
    flex-direction: column;
}

.users-row {
    display: flex;
    flex-direction: row;
}

.overflow-box {
    max-height: 100px; 
    overflow-y: auto;
    width: 300px;
}

.past-booking {
    opacity: 0.7;
}

/* New Layout */

.red-booking-mark,
.blue-booking-mark {
    height: 14px;
    width: 100%;
}

.red {
    background: rgb(183, 44, 44);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.blue {
    background: rgb(39, 76, 123);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.date-text {
    position: absolute;
}

.booking-info {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(230, 230, 230);
    margin-top: 4px;
}

/* Add Ship */

.add-ship-card,
.add-booking-card,
.edit-booking-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--card-background);
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(142, 142, 142, 0.25);
    margin: 16px;
}

.add-booking-card {
    flex-direction: column;
}

.add-ship-card {
    width: 210px;
}

.title-flex {
    padding: 8px 0 6px 0;
    border: 1px solid #5e5e5e;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.content-flex {
    padding: 6px 12px 12px;
    border: 1px solid #5e5e5e;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: none;
}

.form-title {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
}

#id_name,
#id_ship,
#id_scanner {
    height: 28px;
}

#id_image {
    padding: 0;
    height: 28px;
    background: none;
    margin: 0;
}

.date-text,
.red-booking-mark,
.blue-booking-mark,
.day {
    cursor: pointer;
}

.active {
    background: rgb(210, 210, 210);
}

#booking-summary {
    display: none;
    flex-direction: column;
    position: fixed;
    border: 1px solid rgb(120, 120, 120);
    color: white;
    z-index: 10;
    top: 16px;
    right: 16px;
    background: rgba(33, 36, 40, 0.9);
    border-radius: 8px;
    min-width: 220px;
}

.booking-header {
    display: flex;
    border-bottom: 1px solid rgb(120, 120, 120);
    align-items: center;
    padding: 8px 12px;
}

#scanner {
    height: 18px;
    width: 18px;
    border: 1px solid rgb(150, 150, 150);
    margin-right: 10px;
    border-radius: 4px;
}

#booking-summary p {
    margin: 0;
    color: rgb(210, 210, 210);
}

#ship-name {
    margin: 0;
    font-size: 1.15rem;
    margin-right: 36px;
    font-weight: 400;
    height: 20px;
}

.booking-content {
    padding: 12px;
}

.fa-xmark {
    margin-left: 12px;
    height: 16px;
    width: 16px;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    right: 8px;
}

.booking-content-subtitle {
    font-size: 1rem;
    color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(150, 150, 150);
    margin-bottom: 4px;
}

.push-right {
    float: right;
}

.margin-top {
    margin-top: 16px;
}

.crud {
    height: 100%;
}

.top-many-container {
    padding: 0 0 8px 0;
    border-radius: 4px;
    color: rgb(160, 160, 160);
    border: none;
}

.bottom-many-container {
    border-radius: 4px;
    color: rgb(160, 160, 160);
    border: none;
}

.many-select-field {
    display: flex;
    color: rgb(230, 230, 230);
}

.many-checkbox {
    width: 14px !important;
    margin: 0 8px 0 0;
}

.many-div {
    color: rgb(160, 160, 160);
    border: none;
    max-height: 102px;
    overflow: auto;
}

/* Custom scrollbar for WebKit browsers */
.many-div::-webkit-scrollbar {
    width: 8px;
}

.many-div::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.many-div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.many-div::-webkit-scrollbar-thumb:hover {
    background: #3b4353;
}

/* Custom scrollbar for Firefox */
.many-div {
    scrollbar-width: thin;
    scrollbar-color: #3b4353 #f1f1f1;
}

.booking-form {
    display: flex;
}

.booking-left {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    max-width: 180px;
    border-right: 1px solid #626262;
    padding-right: 14px;
}

.booking-right {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.checkbox-label {
    font-size: 0.85rem;
}

.edit-booking-label,
.new-booking-label {
    font-size: 1rem;
    color: a3a3a3;
}

.scanner-selector {
    height: 28px;
}