/* Global Variables */
:root {
    --card-background: linear-gradient(315deg, rgb(28, 28, 52), rgb(23, 23, 47));
}

/* Turn Headlines off for this page */
.headlines {
    display: none;
}

.year {
    display: flex;
    padding-top: 20px;
    color: black;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.month {
    display: flex;
    flex-direction: column;
    background: var(--card-background);
    width: 300px;
    border: 1px solid #5e5e5e;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .4);
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 3px;
    color: #bfbfbf;
}

.day > p {
    margin: 0;
    font-size: 0.8rem;
}

.start {
    border-left: 3px solid rgb(210, 210, 210);
}

.end {
    border-right: 3px solid rgb(210, 210, 210);
}

.weekday {
    font-weight: 700;
    font-size: 0.9rem !important;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #e6e6e6;
    width: 100%;
    margin: 0px;
}

h5 {
    width: calc(100%/7);
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.day-style {
    margin: 0;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.today {
    border: 2px solid white
}

.padding-top-week {
    padding-top: 8px;
}

.padding-bottom-week {
    padding-bottom: 30px;
}

/* Keys */
.keys {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    gap: 12px;
}

.key-container {
    display: flex;
    flex-direction: row;
    width: 155px;
    background: var(--card-background);
    padding: 6px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.year-switcher-container {
    display: flex;
    flex-direction: row;
    background: var(--card-background);
    padding: 6px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.key-title {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    align-items: center;
    padding: 8px;
    margin: 0;
    color: #bbb;
}

.key {
    border-radius: 4px;
    height: 30px;
    width: 30px;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------- Booking Form --------------------------------- */
/* ------------------------------------------------------------------------------ */
.booking-section-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    justify-content: center;
}

.booking-card {
    display: flex;
    flex-direction: column;
    width: 210px;
    background: var(--card-background);
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(142, 142, 142, 0.25);
    margin: 16px;
    padding: 12px;
}

.booking-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    color: white;
}

.booking-ship {
    margin: 0;
    font-size: 1.2rem;
    height: 27px;
    color: white;
    display: flex;
    align-items: center;
}

.dates {
    height: 62px;
}

.form-div {
    padding: 0;
}

.form-div label {
    width: 100%;
    color: #a3a3a3;
}

.form-div select,
.form-div input {
    width: 100%;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    background: #535353;
    border: none;
}

.crud-button-container {
    width: 100%;
    display: flex;
    margin-top: 12px;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-button {
    background: linear-gradient(107deg, rgb(68, 172, 30) 11.1%, rgb(95, 166, 94) 95.3%);
    border: 1px solid darkgreen;
    width: 100%;
    padding: 2px 12px;
    border-radius: 8px;
    color: white;
    position: relative;
    top: 2px;
}

.submit-button {
    background: linear-gradient(107deg, rgb(68, 172, 30) 11.1%, rgb(95, 166, 94) 95.3%);
    border: 1px solid darkgreen;
    padding: 2px 12px;
    border-radius: 8px;
    color: white;
    width: calc(50% - 4px);
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(107deg, rgb(234, 58, 58) 11.1%, rgb(187, 31, 31) 95.3%);
    border: 1px solid darkred;
    border-radius: 8px;
    margin-right: 8px;
    width: calc(50% - 4px);
    text-decoration: none;
    color: white;
}

.delete-button > a {
    margin: 0;
}

.modify-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 4px 0;
}

.users-column {
    display: flex;
    flex-direction: column;
}

.users-row {
    display: flex;
    flex-direction: row;
}

.overflow-box {
    max-height: 100px; 
    overflow-y: auto;
    width: 300px;
}

.past-booking {
    opacity: 0.7;
}

/* New Layout */

.red-booking-mark,
.blue-booking-mark {
    height: 14px;
    width: 100%;
}

.red {
    background: rgb(183, 44, 44);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.blue {
    background: rgb(39, 76, 123);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.date-text {
    position: absolute;
}
