/* Global Variables */
:root {
    --card-background: repeating-linear-gradient(
        150deg,
        rgb(251, 251, 251),
        rgb(251, 251, 251) 30px,
        rgb(246, 246, 246) 30px,
        rgb(246, 246, 246) 60px
    );
}

.year {
    display: flex;
    padding-top: 64px;
    color: black;
    width: 92%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.month {
    display: flex;
    flex-direction: column;
    background: var(--card-background);
    width: 24%;
    min-width: 300px;
    border : 1px solid white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .4);
}

.week {
    display: flex;
    flex-direction: row;
}

.day {
    width: calc(100%/7);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 4px;
}

.day-headers {
    padding-bottom: 12px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

h5 {
    width: calc(100%/7);
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.day-style {
    margin: 0;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.red {
    background: rgb(227, 50, 50);
    color: white;
}

.blue {
    background: rgb(67, 116, 179);
    color: white;
}

.both {
    background-image: repeating-linear-gradient( 45deg, rgb(227, 50, 50), rgb(227, 50, 50) 10px, rgb(67, 116, 179) 10px, rgb(67, 116, 179) 20px );
}
