/* Global Variables */
:root {
    --card-background: linear-gradient(315deg, rgb(28, 28, 52), rgb(23, 23, 47));
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-label {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0;
}

#calculate-button {
    padding: 4px 16px;
    background: linear-gradient(107deg, rgb(68, 172, 30) 11.1%, rgb(95, 166, 94) 95.3%);
    border: 1px solid darkgreen;
    border-radius: 8px;
    color: white;
}

.arrow {
    color: white;
    margin: 0 16px;
}

input {
    border-radius: 6px;
    border: 1px solid;
    width: 124px;
    text-align: center;
}

#result {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#date {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result-container {
    display: flex;
    justify-content: center
}

.estimated-data-container {
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 8px;
    padding: 4px;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.value-container {
    display: flex;
    flex-direction: column;
}

.current-workload {
    text-align: center;
}

#total-time {
    font-weight: 900;
}

.calculator-text {
    color: white;
}

.est-completion {
    font-size: 0.9rem;
    margin: 0;
    color: #bbb;
    margin-left: 4px;
}

#result-lower > h2,
#result-upper > h2,
#date-lower > h2,
#date-upper > h2 {
    font-size: 1.5rem ;
}

#result-upper h2,
#date-upper h2 {
    margin-left: 4px;
}

#totalDataPieChart {
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 1 / 1;
    display: block;
    box-sizing: border-box;
    background: var(--card-background);
    padding: 12px;
    border-radius: 20px;
}

/* NEW STYLE TRIAL */
.storage-summary {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.storage-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    gap: 20px;
}

.data-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 120px;
    background: var(--card-background);
    border-radius: 20px;
    color: white;
    padding: 12px;
}

.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
}

.special {
    box-shadow: 0 0 4px white;
}

#raw-data h2,
#processed-data h2,
#exported-data h2,
#total-data h2 {
    margin: 0;
}

#estimated-completion {
    max-width: 932px;
    max-height: 200px;
    background: var(--card-background);
    padding: 12px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.dates {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lower-date,
.upper-date {
    display: flex;
    flex-direction: column;
    width: 458px;
    background: var(--card-background);
    padding: 12px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}

#date-upper h2,
#date-lower h2 {
    margin: 0;
}

@media (max-width: 600px) {
    .calculator-container {
        flex-direction: column;
        align-items: center;
    }

    .calculator-container > * {
        padding: 8px;
    }

    #calculate-button {
        margin-left: 0;
        margin-top: 16px;
    }

    input {
        width: 100%;
    }

    #result {
        margin: 16px;
    }

    #date {
        margin: 16px;
    }

    .result-container {
        width: 100%;
        margin: 16px auto;
    }

    .result-container > div > h2 {
        font-size: 1.5rem;
        margin: 0;
    }
}
