/* Global Variables */
:root {
    --card-background: linear-gradient(315deg, rgb(28, 28, 42), rgb(28, 28, 46));
}

.headlines {
    display: none;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.charts {
    max-width: 100%;
    max-height: 200px;
    background: var(--card-background);
    padding: 12px;
    border-radius: 20px;
}

.pie-charts {
    max-width: 300px;
    max-height: 300px;
    background: var(--card-background);
    padding: 12px;
    border-radius: 20px;
}

.data-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 120px;
    background: var(--card-background);
    border-radius: 20px;
    color: white;
    padding: 12px;
}

.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.data-box-title {
    font-size: 0.9rem;
    margin: 0;
    color: #bbb;
    margin-left: 4px;
}

.data-span {
    margin: 0;
}

.mini-data-span {
    font-size: 1rem;
}