.col-2 {
    padding: 0;
}

.title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 16px;
    padding: 4px;
    border: 1px solid;
    background: cornflowerblue;
    border-radius: 8px;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 4px;
}

.block {
    display: block;
    text-align: center;
}

.all-completed-key,
.not-completed-key {
    border: 1px solid;
    text-align: center;
    height: 16px;
    width: 16px;
    margin: 2px 8px 0 0;
}

.all-completed {
    background: rgb(46, 204, 113);
}

.not-completed {
    background: rgb(231, 76, 60);
}

.key {
    margin-top: 12px;
}

.ship-title {
    font-weight: 700;
}

p {
    font-size: 0.8rem;
}