#pointCloudSizeChart,
#combinedSizeChart {
    display: block;
    box-sizing: border-box;
    min-height: 700px;
    max-height: 700px;
    width: 100%;
    border: 1px solid;
    border-radius: 8px;
    background: #131520;
    padding: 8px 12px;
    margin-bottom: 24px;
}

.notes {
    display: flex;
    justify-content: center;
}

.notes-text {
    color: white;
}