.headlines {
    display: none;
}

.titles {
    color: white;
    font-size: 1.3rem;
}

.issue-list {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0 8px;
    border-radius: 4px;
}

.issue-container {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 2px 0;
}

.issue-date {
    margin: 2px;
    font-weight: 500;
    white-space: nowrap;
}

.issue-description {
    margin: 2px;
    width: 100%;
}

.issue-actions {
    display: flex;
    gap: 4px;
    padding: 4px 0;
}

label {
    display: none;
}

p {
    margin: 0;
}

form {
    margin-bottom: 24px;
}

#id_issue {
    width: 100%;
    padding: 4px 6px;
    height: 106px;
    border-radius: 8px;
}

.edit-issue {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
}

.submit-button {
    padding: 2px 12px;
    border-radius: 4px;
    border: none;
    background: #9cdb9c;
    float: right;
    font-size: 1rem;
}

.edit-button,
.delete-button {
    padding: 2px 12px;
    border-radius: 4px;
    border: none;
    color: white;
    text-decoration: none;
    margin-left: auto;
    font-size: 0.8rem;
}

.delete-button {
    background: #ff6b6b;
}

.edit-button {
    background: #4CAF50;
}

.save-button {
    padding: 4px 33px;
    border-radius: 4px;
    border: none;
    color: white;
    text-decoration: none;
    margin-left: auto;
    font-size: 0.8rem;
    background: #4285F4;
    float: right;
}

.edit-form {
    margin-bottom: 32px;
}

.crash-report,
.unexplained-failure,
.registration-failure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 48px;
    border-radius: 4px;
    font-size: 0.6rem;
    color: white;
    padding-top: 1px;
}

.crash-report {
    background: purple;
}

.unexplained-failure {
    background: rgb(105, 10, 30);
}

.registration-failure {
    background: rgb(202, 85, 26);
}

.new-issue-container {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
}

.add-issue {
    flex: 4;
}

.add-category {
    flex: 1;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
}

#id_name {
    color: black;
    background: white;
    margin-bottom: 8px;
}

#id_category {
    padding: 2px;
    height: 28px;
    border-radius: 4px;
}