/* Turn Headlines off for this page */
.headlines {
    display: none;
}

nav {
    position: relative;
}

th, td {
    border: 1px solid #5e5e5e;
    color: #bdbdbd;
    text-align: center;
    padding: 2px 12px;
}

.container {
    background: linear-gradient(315deg, rgb(28, 28, 42), rgb(28, 28, 46));
    padding: 12px;
    border-radius: 16px;
}

table {
    width: 100%;
}

.user-logins {
    color: white;
}

.special {
    color: #ffff71;
}

@media (max-width: 600px) {
    th, td {
        padding: 0;
        font-size: 0.85rem;
    }
}