/* Turn Headlines off for this page */
.headlines {
    display: none;
}

nav {
    position: relative;
}

th, td {
    border: 1px solid #5e5e5e;
    color: #bdbdbd;
    text-align: center;
    padding: 2px 12px;
}

th {
    background: rgb(50, 50, 70);
    color: white;
    background: #5c6373;;
}

.container {
    background: rgb(28, 28, 46);
    padding: 12px;
    border-radius: 16px;
}

/* Alternate Table Row Colors */
tr:nth-child(even) {
    background: rgb(38, 38, 56);
}

tr:nth-child(odd) {
    background: rgb(28, 28, 46);
}

tr:hover {
    background-color: #313246;;
}

table {
    width: 100%;
}

.user-logins {
    color: white;
}

.special {
    color: #ffff71;
}

@media (max-width: 600px) {
    th, td {
        padding: 2px;
        font-size: 0.825rem;
    }
}