* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0 !important;
}

.headlines {
    display: none;
}

.area-list {
    background: darkslategray;
    padding: 4px 12px;
    display: flex;
    flex-direction: column;
    color: white;
}

.area-list > p {
    margin: 0;
}

h2 {
    color: white;
    font-size: 1.5rem;
}

.em {
    color: red;
}

th, td {
    border: 1px solid black;
    padding: 0px 4px;
    white-space: nowrap;
}

.center-data {
    text-align: center;
}

tr:hover {
    background-color: #313246;
    color: white;
}


/* Table Settings */
.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;

}

.table-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
}

.table-header {
    background-color: #356ea1 !important;
    font-weight: bold;
    color: white;
    padding: 4px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.table-cell {
    flex: 1;
    padding: 2px;
    text-align: center;
}

.area {
    text-align: left;
    padding-left: 6px;
}

.checkbox {
    flex: 0 0 50px; /* Adjust the width of the checkbox column */
}

.area, .occurrences, .avg-scans, .min-scans, .max-scans {
    flex: 1;
}

.table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.table-row:nth-child(odd) {
    background-color: #ebebeb;
}

.table-row:hover {
    background-color: #d4cfb2;
}

.selected {
    background-color: #d4cfb2; /* Highlight color for selected rows */
}

#hidden-data {
    display: none;
}

.areas {
    display: flex;
}

.dash-container {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.dash {
    border: 1px solid black;
    color: white;
    background: #356ea1;
    padding: 8px;
    border-radius: 8px;
    flex-grow: 1;
}

.small-title {
    font-size: 1rem;
    text-decoration: underline;
    margin-bottom: 0;
    margin-bottom: 4px;
}

#missing-areas div {
    display: flex;
    align-items: center;
}

.ma-checkbox {
    margin-right: 6px;
    height: 16px;
    width: 16px;
}

.number-input {
    width: 80px;
    height: 20px;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    padding-left: 4px;
    font-size: 0.9rem;
}

#ship-select {
    width: 100%;
    padding: 2px;
    padding-left: 4px;
    border-radius: 4px;
    border: none;
}