/* Global Variables */
:root {
    --card-background: repeating-linear-gradient(
        150deg,
        rgb(251, 251, 251),
        rgb(251, 251, 251) 30px,
        rgb(246, 246, 246) 30px,
        rgb(246, 246, 246) 60px
    );
}

th, td {
    border: 1px solid black;
}

table {
    background: var(--card-background);
    padding: 64px;
    width: 100%;
    /* border-collapse: collapse; */
    text-align: center;
    margin-bottom: 32px;
}

td {
    padding: 2px;
}

.td-start {
    padding-left: 6px;
    text-align: start;
}

.container {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.complete-container {
    display: flex;
    justify-content: space-around;
}

.save {
    background: #1a9d1a;
    border: 1px solid darkgreen;
    border-radius: 8px;
    font-size: 0.8rem;
}

.complete,
.wip,
.queued,
.not-required,
.hold,
.minor-fail,
.major-fail,
.critical-fail {
    height: 14px;
    width: 14px;
    border-radius: 2px;
    border: 1px solid #4b4b4b;
}

.queued {
    background: linear-gradient(315deg, #fbcb2f 0%, #ffc955 74%);
}

.wip {
    background-color: orange;
    background-image: linear-gradient(107deg, rgb(255, 67, 5) 11.1%, rgb(245, 102, 0) 95.3%); 
}

.complete {
    background: linear-gradient(315deg, #56bd45 0%, #8ee098 74%);
}

.not-required {
    background: linear-gradient(315deg, #8db9f9, #6a97d4);
}

.minor-fail {
    background: repeating-linear-gradient(45deg,
            rgb(70, 70, 70),
            rgb(70, 70, 70) 3px,
            orange 3px,
            orange 6px);
}

.major-fail {
    background: repeating-linear-gradient(45deg,
            rgb(60, 60, 60),
            rgba(60, 60, 60, 1) 3px,
            rgb(255, 85, 0) 3px,
            rgb(255, 85, 0) 6px);
}

.critical-fail {
    background: repeating-linear-gradient(45deg,
            rgb(50, 50, 50),
            rgba(50, 50, 50, 1) 3px,
            rgb(255, 34, 0) 3px,
            rgb(255, 34, 0) 6px);
}

.ship-link {
    font-weight: 500;
    text-decoration: none;
    color: #003457;
    margin: 0;
}

#pdfButton {
    margin-bottom: 8px;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 0px 2px 0px;
    background: linear-gradient(to right, #d97ba6cc, #bb487fde);
}
