/* Global Variables */
:root {
    --card-background: repeating-linear-gradient(
        150deg,
        rgb(251, 251, 251),
        rgb(251, 251, 251) 30px,
        rgb(246, 246, 246) 30px,
        rgb(246, 246, 246) 60px
    );
}

/* Remove Margins and Padding and Set Font */
* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}


/* Background */
#particles-js {
    background: linear-gradient(to bottom, rgb(46, 55, 74), rgb(77, 92, 142));
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    padding-top: 64px;
}

/* Global Content Wrapper */
#wrapper {
    display: flex;
    min-height: 100vh;    
}

/* Navigation Sub Wrapper */
#navigation {
    width: 250px;
    background: linear-gradient(to bottom, rgb(25, 31, 44), rgb(46, 55, 74));
    opacity: 0.9;
    padding: 12px 20px;
    color: white;
    position: fixed;
    height: 100%;
    transition: width 0.2s ease-in-out;
}

/* Content Content Wapper */
#content-container {
    width: calc(100% - 250px); /* 250 = Width of Navigation */
    margin: 32px;
    margin-left: 282px; /* 250 + 32px */
    transition: margin-left 0.2s ease-in-out;
    flex-grow: 1;
    margin-top: 16px;
}

.headlines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--card-background);
    border-radius: 8px;
    padding: 8px 0;
    margin-bottom: 16px;
}

.headline-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline-title {
    font-size: 1rem;
    font-weight: 600;
    padding: 4px;
    margin: 0;
    color: rgb(39, 68, 131);
}

.headline-content {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0;
}

/* Active Machines */
.machines {
    display: flex;
    width: 92%;
    max-width: 1400px;
    margin: 12px auto;
    gap: 1.25%;
    flex-wrap: wrap;
    justify-content: center;
}

.machine-boxes {
    background: var(--card-background);
    width: 200px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.status-bar {
    background: #25934b;
    width: 95%;
    height: 6px;
    padding-bottom: 3px;
    margin: 0 auto;
    margin-bottom: 4px;
    border-radius: 3px;
}

/* Ship Cards */
.card-container {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.ship-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 270px;
    height: 360px;
    background: var(--card-background);
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .4);
}

.ship-card::before {
    background: rgba(0, 0, 0, 0.5); /* Adjust color and opacity as needed */
    z-index: 1;
}

.ship-image {
    position: relative;
    width: 92%;
    height: 125px;
    object-fit: cover;
    margin-left: 4%;
    border-radius: 8px;
    opacity: 0.9;
    margin-top: 6px;
    border: 1px solid;
}

.progress {
    border-radius: 8px;
    height: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.progress-bar {
    background: linear-gradient(to bottom, rgb(101, 133, 202), rgb(51, 87, 204));
}

.card-body {
    padding: 0px 4px 8px 4px;
}

.card-title {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 8px 2px 8px;
}

.card-secondary-title {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    color: rgb(39, 68, 131)
}

.card-text {
    display: flex;
    justify-content: center;
    margin: 0;
}

.form-div {
    padding: 8px;
}

.done {
    color: green;
}

.to-be-completed {
    color: rgb(181, 12, 0);
}

.card-feature-text {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(162, 162, 162);
    font-weight: 600;
    margin: 0;
}

.areas-and-scans {
    display: flex;
    justify-content: space-around;
    width: 92%;
    margin: 0 auto;
    margin-top: 22px;
    padding: 0;
}




.more-info {
    position: absolute;
    bottom: 8px;
    width: 94%;
    margin-left: 3%;
    border-radius: 16px;
    height: 32px;
    background: linear-gradient(to bottom, rgb(101, 133, 202), rgb(51, 87, 204));
    color: white;
    border: none;
    overflow: hidden;
    transition: all 0.3s ease;
    background-size: 200% 100%;
}

/* Hide the arrows initially */
.arrows {
    padding-top: 2px;
    display: none;
}

/* On hover, hide the button text and show the arrows */
.more-info:hover .button-text {
    display: none;
}

.more-info:hover .arrows {
    display: inline-block;
}

.more-info:hover {
    background: linear-gradient(to bottom, rgb(121, 153, 222), rgb(71, 107, 224));
    transition: background ease-in 0.5s;
}

/* Pulse animation */
@keyframes pulse {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.4;
        transform: scale(1.1);
    }
}

/* Apply the animation to each arrow with a delay */
.arrows i {
    animation: pulse 1s infinite;
}

.arrows i:nth-child(1) {
    animation-delay: 0s;
}

.arrows i:nth-child(2) {
    animation-delay: 0.2s;
}

.arrows i:nth-child(3) {
    animation-delay: 0.4s;
}

.arrows i:nth-child(4) {
    animation-delay: 0.6s;
}

.arrows i:nth-child(5) {
    animation-delay: 0.8s;
}




/* Completed Opacity Effect */
.ship-card-completed,
.ship-card-completed > .progress > .progress-bar,
.ship-card-completed > img,
.ship-card-completed > .more-info,
.ship-card-completed > .card-title,
.ship-card-completed > .card-secondary-title {
    opacity: 0.7;
}

/* ------------------------------------------------------------------------------ */
/* -------------------------------- Authentication ------------------------------ */
/* ------------------------------------------------------------------------------ */

.auth-container {
    display: flex;
    justify-content: center;
}

.auth-with-fields {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    border: 1px solid black;
    background: var(--card-background);
    padding: 16px;
    border-radius: 16px;
    width: 360px;
}

.auth-primary {
    justify-content: center;
    display: flex;
    color: black;
    font-weight: 600;
}

.auth-secondary {
    justify-content: center;
    display: flex;
    margin-top: 16px;
}

.auth-link1 {
    margin: 0;
    margin-right: 6px;
    font-size: 0.9rem;
}

.auth-link2 {
    margin: 0;
    color: #217e82;
    font-size: 0.9rem;
}

.auth-button {
    width: 100%;
    color: white;
    padding: 6px;
    background: linear-gradient(to bottom, rgb(101, 133, 202), rgb(51, 87, 204));
    border: none;
    border-radius: 8px;
    margin-top: 16px;
}

.login > ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: disc;
}

.form-check {
    margin: 12px 0;
    float: right;
}

.form-label {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.logout-message {
    font-size: 1.3rem;
    font-weight: 500;
}

.return-home {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 8px;
}

.star {
    margin-right: 6px;
    margin-bottom: 2px;
    font-size: 0.7rem;
    color: #ffe40a;
    text-shadow: /* Add a border round the star */
        1px 1px rgba(0, 0, 0, 0.7),   /* Top right */
        -1px -1px rgba(0, 0, 0, 0.7), /* Bottom left */
        1px -1px rgba(0, 0, 0, 0.7),  /* Top left */
        -1px 1px rgba(0, 0, 0, 0.7),  /* Bottom right */
        0px 1px rgba(0, 0, 0, 0.7),   /* Top */
        1px 0px rgba(0, 0, 0, 0.7),   /* Right */
        0px -1px rgba(0, 0, 0, 0.7),  /* Bottom */
        -1px 0px rgba(0, 0, 0, 0.7);  /* Left */
}

.star-card {
    width: 12px;
    height: 12px;
    margin: 6px 0;
}

.star-title {
    width: 12px;
    height: 12px;
    margin: 4px 0;
}

/* ------------------------------------------------------------------------------ */
/* --------------------------------- Placeholder -------------------------------- */
/* ------------------------------------------------------------------------------ */

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 1000px;
    background: var(--card-background);
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #content-container {
        width: calc(100% - 8px); /* 250 = Width of Navigation */
        margin: 8px;
        margin-top: 60px;
        margin-left: 24px !important; /* 250 + 32px */
        margin-right: 24px;
        transition: margin-left 0.2s ease-in-out;
        flex-grow: 1;
    }

    #navigation {
        display: none;
        z-index: 1;
        opacity: 0.975;
    }

    .mobile-menu-icon {
        z-index: 1000;
        display: block !important;
    }
}


