{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} 
    Ship Areas & Details 
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_templates.css' %}">
{% endblock %}

{% csrf_token %}

{% block content %}
    
    <div class="container">
        <h1>500 - Internal Server Error</h1>
        <div class="animation-div">
            <div class="ship">
                <i class="fa-solid fa-sailboat"></i>
                <i class="fa-solid fa-icicles"></i>
            </div>
            <div class="water">
                <div class="water-set-1">
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                </div>
                <div class="water-set-2">
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                    <i class="fa-solid fa-water"></i>
                </div>

            </div>
        </div>

        <p>Sorry, something went wrong on our end.</p>
        <p>Let someone know and we will fix the issue ASAP.</p>
    </div>

{% endblock %}