<h2>Folder Structure</h2>

<p>When creating the folder structure for the projects their must be a master folder to contain all of the sub folders</p>
<p>When the contract number is unknown the structure must be as follows</p>
<p class="spacing-p">XXX - (Ship Name)</p>

<p>If the contract number is known then it must be applied to the folder as followed.</p>
<p class="spacing-p">(Contract Number) - (Ship Name)</p>

<p>Here are some examples Below</p>
<p>1114 - Volendam</p>
<p>XXX - Nieuw Amsterdam</p>
<p>1206 - Discovery Princess</p>