<h2>Registration</h2>
<p>Click on Project</p>
<p>Click on Registration, exactly the same as the old method</p>
<p>Click on the "Interactive Registration"</p>
<p>Click on the "Registration View" or the project name ie "Emerald Princess Adagio"</p>
<p>Click on the "Coarse Registration"</p>
<p>If this has not lit up make sure you have clicked the name of the venue</p>
<p>When coarse registration passed click on "Fine Registration"</p>
<P>Once fine registration has finished go back to the Registration page and Verify the registration</P>